<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @stop.name %>
</p>

	<img src="<%= @stop.stop_image_url(:thumb_300) %>" >



<p>
  <strong>Description:</strong>
  <%= @stop.description %>
</p>

<%= link_to 'Edit', edit_stop_path(@stop) %> |
<%= link_to 'Back', stops_path %>
