
<div class="row ">
  <% @routes.each do |route| %>
    <div class="small-12 medium-4 large-3 columns route_wrapper">

          <a href=" <%= route_path(route) %> ">
            <div class="route_img">    
              <img src="<%= route.route_image_url(:thumb) %>" >       
              <h3 class="route_title"> <%= route.title %></h3>
            </div>
          </a>
        
          <div class="route_img_icons">
            <div class="small-4 columns"> A </div>
            <div class="small-4 columns"> B </div>
            <div class="small-4 columns"> C </div>
          </div>
          <p><%= route.description %></p><br>  
          <%= link_to 'Edit', edit_route_path(route) %>
              
                                      <%-# comment -%>
                                        <% if false %>      
                                          <%= link_to 'Destroy', route, method: :delete, data: { confirm: 'Are you sure?' } %>
                                        <% end %>
                                      <%-# comment -%>
    </div>
  <% end %>

      <%= link_to 'New Route', new_route_path %>
</div>
<br>

