<span class="tagline">Inside Berlin</span>
  <span class="subtitle">Discover unique guided routes with awesome spots in Berlin</span>

<div class="row ">
  <% @routes.each do |route| %>
    <div class="small-12 medium-4 large-3 columns">
      <div class="route_wrapper">
            <a href=" <%= route_path(route) %> ">
                <img src="<%= route.route_image_url(:thumb) %>" >       
                <h3> <%= route.title %></h3>
            </a>
          
            <div class="route_img_icons column">
              <div class="small-4 columns"><%= fa_icon "clock-o" %><span class="icons-text">Duration</span></div>
              <div class="small-4 columns"><%= fa_icon "thumbs-o-up" %><span class="icons-text">Likes</span></div>
              <div class="small-4 columns"><%= fa_icon "share-alt" %><span class="icons-text">Share</span></div>
            </div>
            <p><%= route.description %></p>
                                        <%-# comment -%>
                                          <% if false %>      
                                            <%= link_to 'Edit', edit_route_path(route) %>
                                            <%= link_to 'Destroy', route, method: :delete, data: { confirm: 'Are you sure?' } %>
                                          <% end %>
                                        <%-# comment -%>
      </div>
    </div>
  <% end %>
      <%= link_to 'New Route', new_route_path %>
</div>
<br>

