<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @route.title %>
</p>

<p>
	<img src="<%= @route.route_image_url(:thumb) %>" >
</p>

<p>
  <strong>Description:</strong>
  <%= @route.description %>
</p>

<strong>Stops</strong><br>

<% @route.stops.each do |stops| %>
<img src="<%= stops.stop_image_url(:thumb_300) %>" alt="Stop Image"> 
<% end %>

<br><br>
<h2>Add Stops:</h2><br>

<%= form_for(@stop) do |f| %>
  <% if @stop.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@stop.errors.count, "error") %> prohibited this stop from being saved:</h2>

      <ul>
      <% @stop.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

 	<div class="field">
	    <%= f.label :name %><br>
	    <%= f.text_field :name %>
 	</div>
 	<div class="field">
	    <%= f.label :description %><br>
	    <%= f.text_field :description %>
 	</div>
	<div class="field">
	    <%= f.label :stop_image %><br>
	    <%= f.file_field :stop_image %>
	</div>
	<p>Route id	:</p>
		<%= text_field_tag :route_id, params[:id] %>
	<div class="actions">
	    <%= f.submit %>
	</div>
<% end %> 











<%= link_to 'Edit', edit_route_path(@route) %> |
<%= link_to 'Back', routes_path %>
