<div class="small-12  stop_img_wrapper">

<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>

<div class="route-item-wrapper">
	<ul id="stops-carousel" data-orbit>
	  <% @route.stops.each do |stop| %>
	  <li>
	    <img src="<%= stop.stop_image_url(:thumb_600) %>" alt="<%= stop.name %>" />
	    <div class="orbit-caption">
			<%= stop.name %>
		<div class="hiddenDescriptions">
			<%= stop.description %>	
		</div>
	    </div>
	  </li>
	  <% end %>
	</ul>
	
	<div id="map-canvas">
	</div>

	<div class="description">
		<p class="show-description"></p>
	</div>

	<div class="voting">

	<%= form_for(Vote.new(user_id: current_user, route_id: @route, score: 1 )) do |f| %>

		<div class="field">
		  <%= f.hidden_field :user_id %>
		  <%= f.hidden_field :route_id %>
		  <%= f.hidden_field :score %>

		</div>

		<div class="actions">
		  <%= f.submit "Awesome Route!",class: 'button' %>
		</div>
	<% end %>
		
	<a href="" class="button vote-down">Down</a>

	</div>

	
	
</div>

	

















		<%-# comment -%>
		<% if false %>			
          <%= link_to 'Edit', edit_stop_path(stop) %>
		  <%= link_to 'Delete Stop', stop, method: :delete, data: { confirm: 'Are you sure?' } %>
			<p> 
				Category: 
				<% stops.categories.each do |category| %>
					<%= category.name %>
				<% end %>
			</p>
			<p> Stop ID: <%= stops.id %>  </p>
			<p> Stop name :<%= stops.name %>  </p>
			<p> Stop description :<%= stops.description %> </p>
			<p> Stop lat :<%= stops.stop_lat %>  </p>
			<p> Stop long:<%= stops.stop_long %>  </p>
		<% end %>
		<%-# comment -%>



































<% if current_user.admin? %>

	<div class="row ">
	<h2>Create a new stop:</h2><br>
	<%= form_for(@stop) do |f| %>
	  <% if @stop.errors.any? %>
	    <div id="error_explanation">
	      <h2><%= pluralize(@stop.errors.count, "error") %> prohibited this stop from being saved:</h2>
	      <ul>
	      <% @stop.errors.full_messages.each do |message| %>
	        <li><%= message %></li>
	      <% end %>
	      </ul>
	    </div>
	  	<% end %>
	 	<div class="field">
		    <%= f.label :name %><br>
		    <%= f.text_field :name %>
	 	</div>
		
		<select name="category" id="">
		  	<% @categories.each do |category| %>
		  	<option value="<%= category.id %>"> <%= category.name %> </option>
			<% end %>
		</select>
	 	
	 	<div class="field">
		    <%= f.label :description %><br>
		    <%= f.text_area :description %>
	 	</div>
		

		<div class="field">
		    <%= f.label :stop_image %><br>
		    <%= f.file_field :stop_image %>
		</div>

		<div class="field">
		    <%= f.label :stop_lat %><br>
		    <%= f.number_field :stop_lat, :class => 'text_field', :step => 'any' %>
		</div>
		<div class="field">
		    <%= f.label :stop_long %><br>
		    <%= f.number_field :stop_long, :class => 'text_field', :step => 'any' %>
		</div>

			<%= hidden_field_tag  :route_id,  params[:id]    %>
		<div class="actions">
		    <%= f.submit %>
		</div>
	<% end %> 


	<h2>Add existing stop</h2>
	<br>
	<%= form_for(@waypoint) do |f| %>
		<div class="field">
		    <%= f.label :stop_id %><br>
		    <%= f.number_field :stop_id %>
	 	</div>
		<%= f.hidden_field  :route_id    %>
		
		<div class="actions">
		    <%= f.submit %>
		</div>
	<% end %> 

	<%= link_to 'Edit', edit_route_path(@route) %> |
	<%= link_to 'Back', routes_path %>
	<br>
	<br>
	<br>
		</div>
	</div>

<% end %>


















