<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Yournie | Reclaim Your City" %></title>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=true"> </script>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>
	<div class="top_wrapper">
		<a href="/routes">
			<h1 class="logo">Yournie</h1>
		</a>
	</div>  
<body>
    <%= yield %>
    <%= javascript_include_tag "application" %>
  </body>
</html>